/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

@font-face {
    font-family: 'marketing_scriptregular';
    src: url('fonts/marketingscript-webfont.eot');
    src: url('fonts/marketingscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/marketingscript-webfont.woff') format('woff'),
         url('fonts/marketingscript-webfont.ttf') format('truetype'),
         url('fonts/marketingscript-webfont.svg#marketing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProBold';
    src: url('fonts/SourceSansPro-Bold-webfont.eot');
    src: url('fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProBlack';
    src: url('fonts/SourceSansPro-Black-webfont.eot');
    src: url('fonts/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Black-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('fonts/SourceSansPro-ExtraLight-webfont.eot');
    src: url('fonts/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProLight';
    src: url('fonts/SourceSansPro-Light-webfont.eot');
    src: url('fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProRegular';
    src: url('fonts/SourceSansPro-Regular-webfont.eot');
    src: url('fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('fonts/SourceSansPro-Semibold-webfont.eot');
    src: url('fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	height:100%;
	width:100%;
	text-align:center;
}
header {
	width:100%;
	height:60%;
	background-color:#562246;
}
header h1 {
	font-family: 'marketing_scriptregular';
	font-size:7em;
	padding-top:50px;
	color:#bce800;
}
header h3 {
	font-family: 'SourceSansProLight';
	padding:20px 20px 50px 20px;
	font-size:2em;
	color:#bce800;
}
#first-page {
	background-color:#ac324d;
	height:40%;
	width:100%;
}
.section-header {
	width:100%;
}
.section-header h2 {
	font-family: 'marketing_scriptregular';
	font-size:5em;
	padding-top:90px;
}
.section-header h4 {
	font-family: 'SourceSansProLight';
	font-size:2em;
	text-transform: uppercase;
}
#first-page h2 {
	color:#562246;
}
#first-page h4 {
	color:#562246;
}
#first-page ul {
	width:70%;
	margin-left:25%;
}
#first-page img {
	width:150px;
}
#first-page li {
	float:left;
	margin:30px;
}
.clear {
	clear:both;
}
#second-page {
	background-color:#e29000;
	height:100%;
	width:100%;
}
#second-page h2 {
	color:#752849;
}
#second-page h4 {
	color:#752849;
}
.course ul {
	width:70%;
	height:250px;
	margin-top:80px;
	margin-left:20%;
}
.course img {
	width:125px;
}
.course li {
	float:left;
	margin:30px;
}
.clear {
	clear:both;
}
#third-page {
	background-color:#752849;
	height:100%;
	width:100%;
}
#third-page h2 {
	color:#e29000;
}
#third-page h4 {
	color:#e29000;
}
.recipes {
	width:100%;
	}
.recipes article {
	float:left;
}
.icon {
	width:20%;
	margin-left:10%;
	margin-top:30px;
}
.icon img {
	width:100px;
	margin-bottom:10px;
	padding:10px;
}
.icon h5 {
	font-size:1em;
	text-transform:uppercase;
	font-family: 'SourceSansProLight';
	padding:5px;
	color:#f2f2f2;
}
.name-instructions {
	width:40%;
}
.name-instructions h2 {
	font-family: 'marketing_scriptregular';
	font-size:2em;
	margin:30px;
}
.name-instructions li {
	text-decoration:none;
	font-size:1.2em;
	color:#f2f2f2;
	text-align:left;
	font-family: 'SourceSansProExtraLight';
	margin-bottom:15px;
	padding:0px 30px 0px 20px;
}
.ingredients {
	width:20%;
	margin-top:30px;
}
.ingredients h3 {
	font-family: 'SourceSansProBold';
	font-size:1em;
	color:#752849;
	text-transform: uppercase;
	padding:15px;
	background-color:#e29000;
	border-radius:5px;
	height:15px;
	width:80%;
}
.ingredients-content ul {
	display:none;
	background-color:#e29000;
	width:80%;
	height:100%;
	border-radius:5px;
	padding:30px 15px 30px 15px;
}
.ingredients-content li {
	text-align:left;
	font-family: 'SourceSansProLight';
	font-size:1em;
	color:#752849;
	margin-left:15px;
	margin-bottom:7px;
}