

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* logo replacement */

header#site-header h1 { position:absolute; left:10px; top:10px; }
header#site-header h1 a { display:block; width:200px; height:200px; background:url(images/logo.png) top center no-repeat; text-indent:-9999px; }

@font-face {
    font-family: 'LobsterTwoRegular';
    src: url('fonts/LobsterTwo-Regular-webfont.eot');
    src: url('fonts/LobsterTwo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LobsterTwo-Regular-webfont.woff') format('woff'),
         url('fonts/LobsterTwo-Regular-webfont.ttf') format('truetype'),
         url('fonts/LobsterTwo-Regular-webfont.svg#LobsterTwoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LobsterTwoItalic';
    src: url('fonts/LobsterTwo-Italic-webfont.eot');
    src: url('fonts/LobsterTwo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LobsterTwo-Italic-webfont.woff') format('woff'),
         url('fonts/LobsterTwo-Italic-webfont.ttf') format('truetype'),
         url('fonts/LobsterTwo-Italic-webfont.svg#LobsterTwoItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	width:960px;
	margin: 0 auto;
	font-family:georgia;
	position:relative;
	background-color:#F7E7D7;
}

header h1 {
	color:#cb4c4c;
	font-family: 'LobsterTwoRegular';
	font-size:5em;
	padding:30px;
	text-align:center;
}
header p {
	margin-left:60px;
	font-weight:bold;
}
#ingredients, directions {
	float:left;
	width:300px;
	margin:60px;
}
#ingredients {
	text-align:center;
	font-size:0.85em;
	width:300px;
	padding:20px;
	background-color:#FCEFE3;
	box-shadow: 1px 1px 15px #cb4c4c;
	border-radius:10px;
	
	line-height:1.2em;
}
p {
	font-size:1em;
	font-weight:bold;
}
h3 {
	font-family: 'LobsterTwoItalic';
	font-size:2em;
	letter-spacing:.1em;
	padding:3px;
}
#directions li {
	list-style-type: square;
	font-size:.90em;
	margin:10px;
}
#directions h3 {
	position:absolute;
	background-color:#cb4c4c;
	border-radius:10px;
	box-shadow: 5px 5px 10px #773C3C;
	font-style:italic;
	color:white;
	margin:10px;
	padding:5px;
	width:500px;
	right:10px;
	top:120px;
	text-align:center;
}
a {
	position:relative;
	left:55px;
	text-decoration:none;

}



