/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* logo replacement */

header#site-header h1 { position:absolute; left:10px; top:10px; }
header#site-header h1 a { display:block; width:200px; height:200px; background:url(images/logo.png) top center no-repeat; text-indent:-9999px; }

@font-face {
    font-family: 'wisdom_script_airegular';
    src: url('fonts/wisdom_script-webfont.eot');
    src: url('fonts/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wisdom_script-webfont.woff') format('woff'),
         url('fonts/wisdom_script-webfont.ttf') format('truetype'),
         url('fonts/wisdom_script-webfont.svg#wisdom_script_airegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-ExtraLight-webfont.eot');
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProLight';
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Light-webfont.eot');
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Light-webfont.woff') format('woff'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansProRegular';
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular-webfont.eot');
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Semibold-webfont.eot');
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansProLightItalic';
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-LightIt-webfont.eot');
    src: url('fonts/source-sans-pro-fontfacekit/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('fonts/source-sans-pro-fontfacekit/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	width:100%;
}

#site-wrapper {
	background: #9f4b2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #9f4b2e 60%, #a05f30 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#9f4b2e), color-stop(100%,#a05f30)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9f4b2e 60%,#a05f30 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9f4b2e 60%,#a05f30 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9f4b2e 60%,#a05f30 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9f4b2e 60%,#a05f30 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f4b2e', endColorstr='#a05f30',GradientType=0 ); /* IE6-9 */
	height:200px;
}
#site-wrapper header {
	position:relative;
	width:960px;
	margin: 0 auto;
}
#logo {
	width:275px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo2 {
	width:150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#ornament {
	position:absolute;
	left:350px;
	top:137px;
}
#ornament_about {
	position:absolute;
	top:137px;
	left:180px;
}
#menu-wrapper {
	background-color:#392D2E;
	height:30px;
}
#top-nav {
	position:absolute;
	width:960px;
	margin: 0 auto;
}
#top-nav a {
	text-decoration:none;
	color:white;
}
#top-nav li{
	color:white;
	float:left;
	font-family: 'SourceSansProLight';
	text-transform:uppercase;
	padding:7px;
	font-size:1.1em;
	letter-spacing:.09em;
	margin:0px 50px 0px 50px;
}
#top-nav li:first-child {
	margin-left:400px;
}
/* home page */

#about {
	position:absolute;
	margin: 0 auto;
	width:360px;
	
}
#about p {
	position:absolute;
	width:300px;
	margin:165px 0px 0px 60px;
	font-family: 'SourceSansProLight';
	font-size:2.5em;
	line-height:1.2em;
}
#about img {
	float:left;
	width:360px;
	margin-left:30px;
	margin-top:100px;
}
#featured-work {
	float:right;
	margin: 0 auto;
	width:700px;
}
#featured-work h3 {
	font-size:1.7em;
	color:#392D2E;
	text-align:center;
	padding:70px 0px 40px 0px;
	font-family: 'SourceSansProExtraLight';
	text-transform:uppercase;
}
#featured-work img {
	width:90%;
	margin-right:20px;
}
/* end home page */

/* portfolio main */
#slider {
	width:70%;
	margin:0 auto;
}
/* end portfolio main */

/* portfolio interior */
#project-nav {
	position:absolute;
	margin: 0 auto;
	width:960px;
}
#project-nav li{
	float:left;
	margin:70px;
	font-size:1em;
	font-family: 'SourceSansProLight';
	font-weight:bold;
}
#project-directory {
	margin: 0 auto;
	position:fixed;
	font-family: 'SourceSansProRegular';
	text-transform:uppercase;
	font-size:1em;
	line-height:1.5em;
	margin: 200px 30px 0px 50px;
	width:300px;
}
#project-directory a:link {
	text-decoration:none;
	color:black;
}
#project-directory a:hover {
	color:#9f4b2e;
	text-decoration:none;
}
#project-directory a:active {
	color:#cc9e92;
	text-decoration:none;
}
#project-description {
	position:fixed;
	font-family: 'SourceSansProExtraLight';
	font-size:1em;
	width:300px;
	margin-left:30px;
	top:400px;
	right:30px;
}
#project-description h1 {
	text-transform:uppercase;
	font-size:1.5em;
}
#project-description h2 {
	font-size:1em;
	font-family: 'SourceSansProLightItalic';
}
#project-description p {
	line-height:1.2em;
}
/* end portfolio interior */

/* calendar project */
#calendar {
	margin: 0 auto;
	position:absolute;
	width:700px;
	top:400px;
	left:400px;
	list-style:none;
}
/* end calendar project */

/* about page */
#image {
	margin: 0 auto;
	width:300px;
	position:absolute;
	top:300px;
	left:75px;
	margin:40px 40px 0px 0px;
}
#text {
	margin: 0 auto;
	float:right;
	width:400px;
	margin-top:150px;
	margin-right:75px;
	font-size:2em;
	line-height:1.2em;
	font-family: 'SourceSansProLight';
}
#about-footer {
	position:absolute;
	margin: 0 auto;
	width:400px;
	bottom:10px;
	right:75px;
}
#about-footer h2 {
	font-family: 'SourceSansProRegular';
	font-size:2.3em;
	text-transform:uppercase;
}
/* end about page */
