/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* END OF RESET - MY CODE STARTS HERE!!!!*/

body {
	width:1200px;
	font-family:helvetica;
}
#site-wrapper {
	background: #f8fbee; /* Old browsers */
background: -moz-linear-gradient(top,  #f8fbee 0%, #edf3d5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8fbee), color-stop(100%,#edf3d5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8fbee 0%,#edf3d5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8fbee 0%,#edf3d5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8fbee 0%,#edf3d5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8fbee 0%,#edf3d5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbee', endColorstr='#edf3d5',GradientType=0 ); /* IE6-9 */
}
#site-header {
	position:relative;
	margin: 0 auto;
	height:150px;
}
a {
	text-decoration:none;
}
#site-header h1 {
	position:absolute;
	top:20px;
	left:100px;
}
#top-nav {
	margin: 0 auto;
	position:absolute;
	right:0px;
	top:5px;
}
#top-nav a {
	color:#744918;
}
#top-nav a: last-child {
	color:#c1e74c;
}
#menu-wrapper {
	background-color:#744918;
}
#main-menu {
	margin: 0 auto;
}
#main-menu li{
	float:left;
	margin:10px;
}
#main-menu a {
	color:white;
	text-transform:uppercase;
}
#main-menu ul {
	padding:0px 10px 30px 10px;
}
#page {
	margin: 0 auto;
	float:left;
	width:50%;
	margin:30px;
}
#page h1 {
	font-size:2em;
	color:#744918
}
#aside {
	margin: 0 auto;
	float:right;
	width:30%
}
#sidebar h1 {
	font-size:1em;
	color:#744918;
}
#sidebar a {
	color:#744918;
	font-size:.75em;
}
h2 {
	font-size:1em;
	color:#744918;
	margin-top:10px;
	margin-bottom:10px;
}
p {
	font-size:.7em;
	line-height:1.5em;
	color:#a5a5a5;
}
footer {
	margin: 0 auto;
	position:relative;
	clear:both;
}
#site-footer {
	background: #885d35; /* Old browsers */
	background: -moz-linear-gradient(top,  #885d35 0%, #754b19 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#885d35), color-stop(100%,#754b19)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #885d35 0%,#754b19 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #885d35 0%,#754b19 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #885d35 0%,#754b19 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #885d35 0%,#754b19 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#885d35', endColorstr='#754b19',GradientType=0 ); /* IE6-9 */
	padding:10px 10px 100px 10px;
}
#site-footer h1 {
	text-transform:uppercase;
	color:#e5dfd8;
	margin-left:20px;
	margin-top:30px;
}
#site-footer p {
	color#e5dfd8;
	margin-left:20px;
}
#footer-contact {
	float:left;
	width:20%;
}	
#footer-follow h1 {
	clear:both;
	margin-right:0px;
}
#footer-follow li {
	float:right;
	width:8%;
}



